.swiper__primary {
  height: 80%;
  width: 100%;
}
.swiper__primary img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.swiper__second {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.swiper__second img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
